@model List<Skill>

<div>Skills</div>

<a asp-controller="Skill" asp-action="Create" class="btn btn-primary">Create New Skill</a>

<div class="shadow p-4">
    @{
        int index = 0;
        foreach (var skill in Model)
        {
            <div class="row mb-2">

            <input id="skill-@index" class="skill-name col-3" value="@skill.SkillName" disabled />
            <div  class="col-2 justify-content-between mb-2">
                <button data-skill="skill-@index" class="btn edit-btn btn-secondary w-100">Edit</button>
            </div>

            <form asp-controller="Skill" asp-action="Update" method="post" class="col-3 justify-content-between mb-2">
                <input type="hidden" asp-for="@skill.Id" value="@skill.Id" />
                <input id="update-skill-@index" type="hidden" asp-for="@skill.SkillName" value="@skill.SkillName" />
                <button type="submit" class="btn btn-primary w-100" >Update</button>
            </form>

            <form asp-controller="Skill" asp-action="Delete" method="post" class="col-3 justify-content-between mb-2">
                <input type="hidden" name="id" value="@skill.Id" />
                <button type="submit" class="btn btn-danger w-100">Delete</button>
            </form>

            </div>
            index++;
        }   
    }
</div>
