@model List<EmployeeSkillManagement.Models.ViewModels.EmployeeReportViewModel>
   
<div class="p-2">
    <h4 class="text-uppercase">Employees Report</h4>
</div>

<div id="result" class="mt-2 bg-white p-2 border rounded">
    <div><h6>Export desired format</h6></div>

    <table id="generatedReport" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Email</th>
                <th>Designation</th>
                <th>DOJ</th>
                <th>Primary Skills</th>
                <th>Secondary Skills</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- Your data goes here -->
            @if(Model != null){
                int index = 1;
                @foreach(var employee in Model){
                    <tr>
                        <td>@index</td>
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>@employee.Email</td>
                        <td>@employee.Designation!.DesignationName</td>
                        <td>@employee.DateOfJoining</td>
                            <td>
                        @if(employee.PrimarySkills!=null && employee.PrimarySkills.Count>0){
                                @foreach(var pskills in employee.PrimarySkills){
                                    @pskills.SkillName
                                    @if (pskills != employee.PrimarySkills.Last()){
                                        <text>, </text>
                                    }
                                }
                                
                            }else{
                                <text>No Primary Skills</text>
                            }
                            </td>
                        <td>
                            @if(employee.SecondarySkills!=null && employee.SecondarySkills.Count>0){

                            @foreach(var secondarySkill in employee.SecondarySkills){
                                @secondarySkill.SkillName
                                @if (secondarySkill != employee.SecondarySkills.Last())
                                {
                                    <text>, </text>
                                }
                                
                            }
                        }else{
                            <text>No Other Skills</text>
                        }
                        </td>
                       
                        

                    </tr>
                    index++;
                }

            }
            
        </tbody>
    </table>

    @* @Model.Employees.Count
<pre>
         @System.Text.Json.JsonSerializer.Serialize(Model, new System.Text.Json.JsonSerializerOptions { WriteIndented = true })
    </pre> *@
</div>
