@model EmployeeSkillManagement.Models.ViewModels.EmployeeReportViewModel
   
<div class="p-2">
    <h4 class="text-uppercase">Employees Report</h4>
</div>

<div id="result" class="mt-2 bg-white p-2 border rounded">
    <table id="generatedReport" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Email</th>
                <th>Designation</th>
                <th>DOJ</th>
                @if(Model.PrimarySkill!=""){
                    <th>Primary Skill</th>
                    <th>Other Skills</th>
                }else{
                    <th>Skills</th>
                }
            </tr>
        </thead>
        <tbody>
            <!-- Your data goes here -->
            @if(Model.Employees != null){
                int index = 1;
                @foreach(var employee in Model.Employees){
                    <tr>
                        <td>@index</td>
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>@employee.Email</td>
                        <td>@employee.Designation!.DesignationName</td>
                        <td>@employee.DateOfJoining</td>
                        @if(Model.PrimarySkill!=""){
                            <td>@Model.PrimarySkill</td>
                        }
                        <td>
                            @foreach(var skills in employee.EmployeeSkillsAndLevels){
                                @skills.SkillName
                                @if (skills != employee.EmployeeSkillsAndLevels.Last())
                                {
                                    <text>, </text>
                                }
                                
                            }
                        </td>
                        

                    </tr>
                    index++;
                }

            }
            
        </tbody>
    </table>

    @* @Model.Employees.Count
<pre>
         @System.Text.Json.JsonSerializer.Serialize(Model, new System.Text.Json.JsonSerializerOptions { WriteIndented = true })
    </pre> *@
</div>
